<phpunit backupGlobals="false" bootstrap="vendor/autoload.php">
    <php>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
        <ini name="error_reporting" value="On"/>
    </php>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>